<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>type</key>
            <string>KeyboardSelection</string>
            <key>action</key>
            <string>🌐</string>
            <key>x</key>
            <real>330</real>
            <key>y</key>
            <real>222</real>
            <key>width</key>
            <real>42</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>type</key>
            <string>Space</string>
            <key>action</key>
            <string></string>
            <key>x</key>
            <real>99</real>
            <key>y</key>
            <real>222</real>
            <key>width</key>
            <real>129</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>type</key>
            <string>Backspace</string>
            <key>action</key>
            <string>→</string>
            <key>x</key>
            <real>3.0</real>
            <key>y</key>
            <real>169</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>type</key>
            <string>Return</string>
            <key>action</key>
            <string>⮑</string>
            <key>x</key>
            <real>3.0</real>
            <key>y</key>
            <real>222</real>
            <key>width</key>
            <real>90</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>Number</key>
        <dict>
            <key>type</key>
            <string>Number</string>
            <key>action</key>
            <string>۱۲۳</string>
            <key>x</key>
            <real>234</real>
            <key>y</key>
            <real>222</real>
            <key>width</key>
            <real>42</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>Settings</key>
        <dict>
            <key>type</key>
            <string>Settings</string>
            <key>action</key>
            <string>⚙︎</string>
            <key>x</key>
            <real>282</real>
            <key>y</key>
            <real>222</real>
            <key>width</key>
            <real>42</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ا</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ا</string>
            <key>x</key>
            <real>340.5</real>
            <key>y</key>
            <real>10</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ب</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ب</string>
            <key>x</key>
            <real>303.0</real>
            <key>y</key>
            <real>10</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>پ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>پ</string>
            <key>x</key>
            <real>265.5</real>
            <key>y</key>
            <real>10</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ت</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ت</string>
            <key>x</key>
            <real>228.0</real>
            <key>y</key>
            <real>10</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ٹ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ٹ</string>
            <key>x</key>
            <real>190.5</real>
            <key>y</key>
            <real>10</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ث</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ث</string>
            <key>x</key>
            <real>153.0</real>
            <key>y</key>
            <real>10</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ج</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ج</string>
            <key>x</key>
            <real>115.5</real>
            <key>y</key>
            <real>10</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>چ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>چ</string>
            <key>x</key>
            <real>78.0</real>
            <key>y</key>
            <real>10</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ح</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ح</string>
            <key>x</key>
            <real>40.5</real>
            <key>y</key>
            <real>10</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>خ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>خ</string>
            <key>x</key>
            <real>3.0</real>
            <key>y</key>
            <real>10</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>د</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>د</string>
            <key>x</key>
            <real>340.5</real>
            <key>y</key>
            <real>63</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ڈ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ڈ</string>
            <key>x</key>
            <real>303.0</real>
            <key>y</key>
            <real>63</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ذ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ذ</string>
            <key>x</key>
            <real>265.5</real>
            <key>y</key>
            <real>63</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ر</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ر</string>
            <key>x</key>
            <real>228.0</real>
            <key>y</key>
            <real>63</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ڑ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ڑ</string>
            <key>x</key>
            <real>190.5</real>
            <key>y</key>
            <real>63</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ز</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ز</string>
            <key>x</key>
            <real>153.0</real>
            <key>y</key>
            <real>63</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ژ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ژ</string>
            <key>x</key>
            <real>115.5</real>
            <key>y</key>
            <real>63</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>س</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>س</string>
            <key>x</key>
            <real>78.0</real>
            <key>y</key>
            <real>63</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ش</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ش</string>
            <key>x</key>
            <real>40.5</real>
            <key>y</key>
            <real>63</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ص</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ص</string>
            <key>x</key>
            <real>3.0</real>
            <key>y</key>
            <real>63</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ض</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ض</string>
            <key>x</key>
            <real>340.5</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ط</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ط</string>
            <key>x</key>
            <real>303.0</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ظ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ظ</string>
            <key>x</key>
            <real>265.5</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ع</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ع</string>
            <key>x</key>
            <real>228.0</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>غ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>غ</string>
            <key>x</key>
            <real>190.5</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ف</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ف</string>
            <key>x</key>
            <real>153.0</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ق</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ق</string>
            <key>x</key>
            <real>115.5</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ک</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ک</string>
            <key>x</key>
            <real>78.0</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>گ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>گ</string>
            <key>x</key>
            <real>40.5</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ل</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ل</string>
            <key>x</key>
            <real>3.0</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>م</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>م</string>
            <key>x</key>
            <real>340.5</real>
            <key>y</key>
            <real>169</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ن</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ن</string>
            <key>x</key>
            <real>303.0</real>
            <key>y</key>
            <real>169</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ں</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ں</string>
            <key>x</key>
            <real>265.5</real>
            <key>y</key>
            <real>169</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>و</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>و</string>
            <key>x</key>
            <real>228.0</real>
            <key>y</key>
            <real>169</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ہ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ہ</string>
            <key>x</key>
            <real>190.5</real>
            <key>y</key>
            <real>169</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ھ</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ھ</string>
            <key>x</key>
            <real>153.0</real>
            <key>y</key>
            <real>169</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ء</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ء</string>
            <key>x</key>
            <real>115.5</real>
            <key>y</key>
            <real>169</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ی</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ی</string>
            <key>x</key>
            <real>78.0</real>
            <key>y</key>
            <real>169</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
        <key>ے</key>
        <dict>
            <key>type</key>
            <string>Letter</string>
            <key>action</key>
            <string>ے</string>
            <key>x</key>
            <real>40.5</real>
            <key>y</key>
            <real>169</real>
            <key>width</key>
            <real>31.5</real>
            <key>height</key>
            <real>42</real>
        </dict>
    </dict>
</plist>
