<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Letter</key>
        <dict>
            <key>x</key>
            <real>78</real>
            <key>y</key>
            <real>166</real>
            <key>width</key>
            <real>69</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>153</real>
            <key>y</key>
            <real>166</real>
            <key>width</key>
            <real>69</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>228</real>
            <key>y</key>
            <real>166</real>
            <key>width</key>
            <real>225</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>459</real>
            <key>y</key>
            <real>166</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>518</real>
            <key>y</key>
            <real>166</real>
            <key>width</key>
            <real>144</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>78</real>
            <key>y</key>
            <real>126</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Settings</key>
        <dict>
            <key>x</key>
            <real>593</real>
            <key>y</key>
            <real>126</real>
            <key>width</key>
            <real>69</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۰</key>
        <dict>
            <key>x</key>
            <real>609</real>
            <key>y</key>
            <real>6</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۹</key>
        <dict>
            <key>x</key>
            <real>550</real>
            <key>y</key>
            <real>6</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۸</key>
        <dict>
            <key>x</key>
            <real>491</real>
            <key>y</key>
            <real>6</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۷</key>
        <dict>
            <key>x</key>
            <real>432</real>
            <key>y</key>
            <real>6</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۶</key>
        <dict>
            <key>x</key>
            <real>373</real>
            <key>y</key>
            <real>6</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۵</key>
        <dict>
            <key>x</key>
            <real>314</real>
            <key>y</key>
            <real>6</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۴</key>
        <dict>
            <key>x</key>
            <real>255</real>
            <key>y</key>
            <real>6</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۳</key>
        <dict>
            <key>x</key>
            <real>196</real>
            <key>y</key>
            <real>6</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۲</key>
        <dict>
            <key>x</key>
            <real>137</real>
            <key>y</key>
            <real>6</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۱</key>
        <dict>
            <key>x</key>
            <real>78</real>
            <key>y</key>
            <real>6</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ِ</key>
        <dict>
            <key>x</key>
            <real>609</real>
            <key>y</key>
            <real>46</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>َ</key>
        <dict>
            <key>x</key>
            <real>550</real>
            <key>y</key>
            <real>46</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ُ</key>
        <dict>
            <key>x</key>
            <real>491</real>
            <key>y</key>
            <real>46</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ّ</key>
        <dict>
            <key>x</key>
            <real>432</real>
            <key>y</key>
            <real>46</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٍ</key>
        <dict>
            <key>x</key>
            <real>373</real>
            <key>y</key>
            <real>46</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ً</key>
        <dict>
            <key>x</key>
            <real>314</real>
            <key>y</key>
            <real>46</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٖ</key>
        <dict>
            <key>x</key>
            <real>255</real>
            <key>y</key>
            <real>46</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٰ</key>
        <dict>
            <key>x</key>
            <real>196</real>
            <key>y</key>
            <real>46</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ْ</key>
        <dict>
            <key>x</key>
            <real>137</real>
            <key>y</key>
            <real>46</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٓ</key>
        <dict>
            <key>x</key>
            <real>78</real>
            <key>y</key>
            <real>46</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>"</key>
        <dict>
            <key>x</key>
            <real>609</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>@</key>
        <dict>
            <key>x</key>
            <real>550</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>&amp;</key>
        <dict>
            <key>x</key>
            <real>491</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>₨</key>
        <dict>
            <key>x</key>
            <real>432</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>)</key>
        <dict>
            <key>x</key>
            <real>373</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>(</key>
        <dict>
            <key>x</key>
            <real>314</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>؛</key>
        <dict>
            <key>x</key>
            <real>255</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>:</key>
        <dict>
            <key>x</key>
            <real>196</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>/</key>
        <dict>
            <key>x</key>
            <real>137</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>-</key>
        <dict>
            <key>x</key>
            <real>78</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>#</key>
        <dict>
            <key>x</key>
            <real>496</real>
            <key>y</key>
            <real>126</real>
            <key>width</key>
            <real>77</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>!</key>
        <dict>
            <key>x</key>
            <real>413</real>
            <key>y</key>
            <real>126</real>
            <key>width</key>
            <real>77</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>؟</key>
        <dict>
            <key>x</key>
            <real>330</real>
            <key>y</key>
            <real>126</real>
            <key>width</key>
            <real>77</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>،</key>
        <dict>
            <key>x</key>
            <real>247</real>
            <key>y</key>
            <real>126</real>
            <key>width</key>
            <real>77</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۔</key>
        <dict>
            <key>x</key>
            <real>164</real>
            <key>y</key>
            <real>126</real>
            <key>width</key>
            <real>77</real>
            <key>height</key>
            <real>32</real>
        </dict>
    </dict>
</plist>
