<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Number</key>
        <dict>
            <key>x</key>
            <real>7</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>97</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>187</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>650</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>851</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>7</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>110</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>7</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>110</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>DismissKeyboard</key>
        <dict>
            <key>x</key>
            <real>941</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ط</key>
        <dict>
            <key>x</key>
            <real>941</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ظ</key>
        <dict>
            <key>x</key>
            <real>851</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ژ</key>
        <dict>
            <key>x</key>
            <real>761</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ح</key>
        <dict>
            <key>x</key>
            <real>671</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ث</key>
        <dict>
            <key>x</key>
            <real>581</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ٹ</key>
        <dict>
            <key>x</key>
            <real>491</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ڑ</key>
        <dict>
            <key>x</key>
            <real>401</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>غ</key>
        <dict>
            <key>x</key>
            <real>311</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ص</key>
        <dict>
            <key>x</key>
            <real>221</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ض</key>
        <dict>
            <key>x</key>
            <real>131</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>پ</key>
        <dict>
            <key>x</key>
            <real>907</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ہ</key>
        <dict>
            <key>x</key>
            <real>817</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ی</key>
        <dict>
            <key>x</key>
            <real>727</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ء</key>
        <dict>
            <key>x</key>
            <real>637</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ے</key>
        <dict>
            <key>x</key>
            <real>547</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ت</key>
        <dict>
            <key>x</key>
            <real>457</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ر</key>
        <dict>
            <key>x</key>
            <real>367</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ع</key>
        <dict>
            <key>x</key>
            <real>277</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>و</key>
        <dict>
            <key>x</key>
            <real>187</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ق</key>
        <dict>
            <key>x</key>
            <real>97</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ل</key>
        <dict>
            <key>x</key>
            <real>941</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ک</key>
        <dict>
            <key>x</key>
            <real>851</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ج</key>
        <dict>
            <key>x</key>
            <real>761</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ھ</key>
        <dict>
            <key>x</key>
            <real>671</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>گ</key>
        <dict>
            <key>x</key>
            <real>581</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ف</key>
        <dict>
            <key>x</key>
            <real>491</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>د</key>
        <dict>
            <key>x</key>
            <real>401</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ڈ</key>
        <dict>
            <key>x</key>
            <real>311</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>س</key>
        <dict>
            <key>x</key>
            <real>221</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ا</key>
        <dict>
            <key>x</key>
            <real>131</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>م</key>
        <dict>
            <key>x</key>
            <real>907</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ن</key>
        <dict>
            <key>x</key>
            <real>817</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ں</key>
        <dict>
            <key>x</key>
            <real>727</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ب</key>
        <dict>
            <key>x</key>
            <real>637</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>چ</key>
        <dict>
            <key>x</key>
            <real>547</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>خ</key>
        <dict>
            <key>x</key>
            <real>457</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ش</key>
        <dict>
            <key>x</key>
            <real>367</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ز</key>
        <dict>
            <key>x</key>
            <real>277</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ذ</key>
        <dict>
            <key>x</key>
            <real>187</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
    </dict>
</plist>
