<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Letter</key>
        <dict>
            <key>x</key>
            <real>6</real>
            <key>y</key>
            <real>260</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>78</real>
            <key>y</key>
            <real>260</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>150</real>
            <key>y</key>
            <real>260</real>
            <key>width</key>
            <real>534</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>696</real>
            <key>y</key>
            <real>260</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>6</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>102</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>6</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>102</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>Settings</key>
        <dict>
            <key>x</key>
            <real>768</real>
            <key>y</key>
            <real>195</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>DismissKeyboard</key>
        <dict>
            <key>x</key>
            <real>768</real>
            <key>y</key>
            <real>260</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۰</key>
        <dict>
            <key>x</key>
            <real>768</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۹</key>
        <dict>
            <key>x</key>
            <real>696</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۸</key>
        <dict>
            <key>x</key>
            <real>624</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۷</key>
        <dict>
            <key>x</key>
            <real>552</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۶</key>
        <dict>
            <key>x</key>
            <real>480</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۵</key>
        <dict>
            <key>x</key>
            <real>408</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۴</key>
        <dict>
            <key>x</key>
            <real>336</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۳</key>
        <dict>
            <key>x</key>
            <real>265</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۲</key>
        <dict>
            <key>x</key>
            <real>192</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۱</key>
        <dict>
            <key>x</key>
            <real>120</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ِ</key>
        <dict>
            <key>x</key>
            <real>726</real>
            <key>y</key>
            <real>65</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>َ</key>
        <dict>
            <key>x</key>
            <real>654</real>
            <key>y</key>
            <real>65</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ُ</key>
        <dict>
            <key>x</key>
            <real>582</real>
            <key>y</key>
            <real>65</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ّ</key>
        <dict>
            <key>x</key>
            <real>510</real>
            <key>y</key>
            <real>65</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ٍ</key>
        <dict>
            <key>x</key>
            <real>438</real>
            <key>y</key>
            <real>65</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ً</key>
        <dict>
            <key>x</key>
            <real>366</real>
            <key>y</key>
            <real>65</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ٖ</key>
        <dict>
            <key>x</key>
            <real>294</real>
            <key>y</key>
            <real>65</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ٰ</key>
        <dict>
            <key>x</key>
            <real>222</real>
            <key>y</key>
            <real>65</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ْ</key>
        <dict>
            <key>x</key>
            <real>150</real>
            <key>y</key>
            <real>65</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ٓ</key>
        <dict>
            <key>x</key>
            <real>78</real>
            <key>y</key>
            <real>65</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>"</key>
        <dict>
            <key>x</key>
            <real>768</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>@</key>
        <dict>
            <key>x</key>
            <real>696</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>&amp;</key>
        <dict>
            <key>x</key>
            <real>624</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
      	<key>₨</key>
        <dict>
            <key>x</key>
            <real>552</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>)</key>
        <dict>
            <key>x</key>
            <real>480</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>(</key>
        <dict>
            <key>x</key>
            <real>408</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>؛</key>
        <dict>
            <key>x</key>
            <real>336</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>:</key>
        <dict>
            <key>x</key>
            <real>265</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>/</key>
        <dict>
            <key>x</key>
            <real>192</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>-</key>
        <dict>
            <key>x</key>
            <real>120</real>
            <key>y</key>
            <real>130</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>#</key>
        <dict>
            <key>x</key>
            <real>510</real>
            <key>y</key>
            <real>195</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>!</key>
        <dict>
            <key>x</key>
            <real>438</real>
            <key>y</key>
            <real>195</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>؟</key>
        <dict>
            <key>x</key>
            <real>366</real>
            <key>y</key>
            <real>195</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>،</key>
        <dict>
            <key>x</key>
            <real>294</real>
            <key>y</key>
            <real>195</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۔</key>
        <dict>
            <key>x</key>
            <real>222</real>
            <key>y</key>
            <real>195</real>
            <key>width</key>
            <real>60</real>
            <key>height</key>
            <real>55</real>
        </dict>
    </dict>
</plist>
