<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Letter</key>
        <dict>
            <key>x</key>
            <real>7</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>97</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>187</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>650</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>851</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>7</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>110</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>7</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>110</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Settings</key>
        <dict>
            <key>x</key>
            <real>941</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>DismissKeyboard</key>
        <dict>
            <key>x</key>
            <real>941</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۰</key>
        <dict>
            <key>x</key>
            <real>941</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۹</key>
        <dict>
            <key>x</key>
            <real>851</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۸</key>
        <dict>
            <key>x</key>
            <real>761</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۷</key>
        <dict>
            <key>x</key>
            <real>671</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۶</key>
        <dict>
            <key>x</key>
            <real>581</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۵</key>
        <dict>
            <key>x</key>
            <real>491</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۴</key>
        <dict>
            <key>x</key>
            <real>401</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۳</key>
        <dict>
            <key>x</key>
            <real>311</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۲</key>
        <dict>
            <key>x</key>
            <real>221</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۱</key>
        <dict>
            <key>x</key>
            <real>131</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ِ</key>
        <dict>
            <key>x</key>
            <real>907</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>َ</key>
        <dict>
            <key>x</key>
            <real>817</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ُ</key>
        <dict>
            <key>x</key>
            <real>727</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ّ</key>
        <dict>
            <key>x</key>
            <real>637</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ٍ</key>
        <dict>
            <key>x</key>
            <real>547</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ً</key>
        <dict>
            <key>x</key>
            <real>457</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ٖ</key>
        <dict>
            <key>x</key>
            <real>367</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ٰ</key>
        <dict>
            <key>x</key>
            <real>277</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ْ</key>
        <dict>
            <key>x</key>
            <real>187</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ٓ</key>
        <dict>
            <key>x</key>
            <real>97</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>"</key>
        <dict>
            <key>x</key>
            <real>941</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>@</key>
        <dict>
            <key>x</key>
            <real>851</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>&amp;</key>
        <dict>
            <key>x</key>
            <real>761</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
      	<key>₨</key>
        <dict>
            <key>x</key>
            <real>671</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>)</key>
        <dict>
            <key>x</key>
            <real>581</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>(</key>
        <dict>
            <key>x</key>
            <real>491</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>؛</key>
        <dict>
            <key>x</key>
            <real>401</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>:</key>
        <dict>
            <key>x</key>
            <real>311</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>/</key>
        <dict>
            <key>x</key>
            <real>221</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>-</key>
        <dict>
            <key>x</key>
            <real>131</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>#</key>
        <dict>
            <key>x</key>
            <real>637</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>!</key>
        <dict>
            <key>x</key>
            <real>547</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>؟</key>
        <dict>
            <key>x</key>
            <real>457</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>،</key>
        <dict>
            <key>x</key>
            <real>367</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۔</key>
        <dict>
            <key>x</key>
            <real>277</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>76</real>
            <key>height</key>
            <real>74</real>
        </dict>
    </dict>
</plist>
