<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Number</key>
        <dict>
            <key>x</key>
            <real>4</real>
            <key>y</key>
            <real>272</real>
            <key>width</key>
            <real>94</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>105</real>
            <key>y</key>
            <real>272</real>
            <key>width</key>
            <real>94</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>206</real>
            <key>y</key>
            <real>272</real>
            <key>width</key>
            <real>643</real>
            <key>height</key>
            <real>61</real>
        </dict> 
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>856</real>
            <key>y</key>
            <real>272</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>80</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>94</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>80</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>94</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>DismissKeyboard</key>
        <dict>
            <key>x</key>
            <real>926</real>
            <key>y</key>
            <real>272</real>
            <key>width</key>
            <real>94</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ط</key>
        <dict>
            <key>x</key>
            <real>811</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ظ</key>
        <dict>
            <key>x</key>
            <real>741</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ژ</key>
        <dict>
            <key>x</key>
            <real>671</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ح</key>
        <dict>
            <key>x</key>
            <real>601</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ث</key>
        <dict>
            <key>x</key>
            <real>531</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ٹ</key>
        <dict>
            <key>x</key>
            <real>461</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ڑ</key>
        <dict>
            <key>x</key>
            <real>391</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>غ</key>
        <dict>
            <key>x</key>
            <real>321</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ص</key>
        <dict>
            <key>x</key>
            <real>251</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ض</key>
        <dict>
            <key>x</key>
            <real>181</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>پ</key>
        <dict>
            <key>x</key>
            <real>780</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ہ</key>
        <dict>
            <key>x</key>
            <real>710</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ی</key>
        <dict>
            <key>x</key>
            <real>640</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ء</key>
        <dict>
            <key>x</key>
            <real>570</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ے</key>
        <dict>
            <key>x</key>
            <real>500</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ت</key>
        <dict>
            <key>x</key>
            <real>430</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ر</key>
        <dict>
            <key>x</key>
            <real>360</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ع</key>
        <dict>
            <key>x</key>
            <real>290</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>و</key>
        <dict>
            <key>x</key>
            <real>220</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ق</key>
        <dict>
            <key>x</key>
            <real>150</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ل</key>
        <dict>
            <key>x</key>
            <real>811</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ک</key>
        <dict>
            <key>x</key>
            <real>741</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ج</key>
        <dict>
            <key>x</key>
            <real>671</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ھ</key>
        <dict>
            <key>x</key>
            <real>601</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>گ</key>
        <dict>
            <key>x</key>
            <real>531</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ف</key>
        <dict>
            <key>x</key>
            <real>461</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>د</key>
        <dict>
            <key>x</key>
            <real>391</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ڈ</key>
        <dict>
            <key>x</key>
            <real>321</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>س</key>
        <dict>
            <key>x</key>
            <real>251</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ا</key>
        <dict>
            <key>x</key>
            <real>181</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>م</key>
        <dict>
            <key>x</key>
            <real>780</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ن</key>
        <dict>
            <key>x</key>
            <real>710</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ں</key>
        <dict>
            <key>x</key>
            <real>640</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ب</key>
        <dict>
            <key>x</key>
            <real>570</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>چ</key>
        <dict>
            <key>x</key>
            <real>500</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>خ</key>
        <dict>
            <key>x</key>
            <real>430</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ش</key>
        <dict>
            <key>x</key>
            <real>360</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ز</key>
        <dict>
            <key>x</key>
            <real>290</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ذ</key>
        <dict>
            <key>x</key>
            <real>220</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
    </dict>
</plist>
