<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Number</key>
        <dict>
            <key>x</key>
            <real>8</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>105</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>202</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>708</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>924</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>8</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>126</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>8</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>126</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>DismissKeyboard</key>
        <dict>
            <key>x</key>
            <real>1021</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ط</key>
        <dict>
            <key>x</key>
            <real>1021</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ظ</key>
        <dict>
            <key>x</key>
            <real>924</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ژ</key>
        <dict>
            <key>x</key>
            <real>827</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ح</key>
        <dict>
            <key>x</key>
            <real>730</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ث</key>
        <dict>
            <key>x</key>
            <real>633</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ٹ</key>
        <dict>
            <key>x</key>
            <real>536</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ڑ</key>
        <dict>
            <key>x</key>
            <real>439</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>غ</key>
        <dict>
            <key>x</key>
            <real>342</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ص</key>
        <dict>
            <key>x</key>
            <real>245</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ض</key>
        <dict>
            <key>x</key>
            <real>148</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>پ</key>
        <dict>
            <key>x</key>
            <real>978</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ہ</key>
        <dict>
            <key>x</key>
            <real>881</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ی</key>
        <dict>
            <key>x</key>
            <real>784</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ء</key>
        <dict>
            <key>x</key>
            <real>687</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ے</key>
        <dict>
            <key>x</key>
            <real>590</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ت</key>
        <dict>
            <key>x</key>
            <real>493</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ر</key>
        <dict>
            <key>x</key>
            <real>396</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ع</key>
        <dict>
            <key>x</key>
            <real>299</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>و</key>
        <dict>
            <key>x</key>
            <real>202</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ق</key>
        <dict>
            <key>x</key>
            <real>105</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ل</key>
        <dict>
            <key>x</key>
            <real>1021</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ک</key>
        <dict>
            <key>x</key>
            <real>924</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ج</key>
        <dict>
            <key>x</key>
            <real>827</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ھ</key>
        <dict>
            <key>x</key>
            <real>730</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>گ</key>
        <dict>
            <key>x</key>
            <real>633</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ف</key>
        <dict>
            <key>x</key>
            <real>536</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>د</key>
        <dict>
            <key>x</key>
            <real>439</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ڈ</key>
        <dict>
            <key>x</key>
            <real>342</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>س</key>
        <dict>
            <key>x</key>
            <real>245</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ا</key>
        <dict>
            <key>x</key>
            <real>148</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>م</key>
        <dict>
            <key>x</key>
            <real>978</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ن</key>
        <dict>
            <key>x</key>
            <real>881</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ں</key>
        <dict>
            <key>x</key>
            <real>784</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ب</key>
        <dict>
            <key>x</key>
            <real>687</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>چ</key>
        <dict>
            <key>x</key>
            <real>590</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>خ</key>
        <dict>
            <key>x</key>
            <real>493</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ش</key>
        <dict>
            <key>x</key>
            <real>396</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ز</key>
        <dict>
            <key>x</key>
            <real>299</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ذ</key>
        <dict>
            <key>x</key>
            <real>202</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
    </dict>
</plist>
