<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Letter</key>
        <dict>
            <key>x</key>
            <real>4</real>
            <key>y</key>
            <real>356</real>
            <key>width</key>
            <real>126</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>139</real>
            <key>y</key>
            <real>356</real>
            <key>width</key>
            <real>126</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>274</real>
            <key>y</key>
            <real>356</real>
            <key>width</key>
            <real>858</real>
            <key>height</key>
            <real>80</real>
        </dict> 
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>1141</real>
            <key>y</key>
            <real>356</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>99</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>126</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>99</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>126</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>DismissKeyboard</key>
        <dict>
            <key>x</key>
            <real>1236</real>
            <key>y</key>
            <real>356</real>
            <key>width</key>
            <real>126</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۰</key>
        <dict>
            <key>x</key>
            <real>1089</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۹</key>
        <dict>
            <key>x</key>
            <real>994</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۸</key>
        <dict>
            <key>x</key>
            <real>899</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۷</key>
        <dict>
            <key>x</key>
            <real>804</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۶</key>
        <dict>
            <key>x</key>
            <real>709</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۵</key>
        <dict>
            <key>x</key>
            <real>614</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۴</key>
        <dict>
            <key>x</key>
            <real>519</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۳</key>
        <dict>
            <key>x</key>
            <real>424</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۲</key>
        <dict>
            <key>x</key>
            <real>329</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۱</key>
        <dict>
            <key>x</key>
            <real>234</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>ِ</key>
        <dict>
            <key>x</key>
            <real>1046</real>
            <key>y</key>
            <real>89</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>َ</key>
        <dict>
            <key>x</key>
            <real>951</real>
            <key>y</key>
            <real>89</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>ُ</key>
        <dict>
            <key>x</key>
            <real>856</real>
            <key>y</key>
            <real>89</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>ّ</key>
        <dict>
            <key>x</key>
            <real>761</real>
            <key>y</key>
            <real>89</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>ٍ</key>
        <dict>
            <key>x</key>
            <real>666</real>
            <key>y</key>
            <real>89</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>ً</key>
        <dict>
            <key>x</key>
            <real>571</real>
            <key>y</key>
            <real>89</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>ٖ</key>
        <dict>
            <key>x</key>
            <real>476</real>
            <key>y</key>
            <real>89</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>ٰ</key>
        <dict>
            <key>x</key>
            <real>381</real>
            <key>y</key>
            <real>89</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>ْ</key>
        <dict>
            <key>x</key>
            <real>286</real>
            <key>y</key>
            <real>89</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>ٓ</key>
        <dict>
            <key>x</key>
            <real>191</real>
            <key>y</key>
            <real>89</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>"</key>
        <dict>
            <key>x</key>
            <real>1089</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>@</key>
        <dict>
            <key>x</key>
            <real>994</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>&amp;</key>
        <dict>
            <key>x</key>
            <real>899</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
      	<key>₨</key>
        <dict>
            <key>x</key>
            <real>804</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>)</key>
        <dict>
            <key>x</key>
            <real>709</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>(</key>
        <dict>
            <key>x</key>
            <real>614</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>؛</key>
        <dict>
            <key>x</key>
            <real>519</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>:</key>
        <dict>
            <key>x</key>
            <real>424</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>/</key>
        <dict>
            <key>x</key>
            <real>329</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>-</key>
        <dict>
            <key>x</key>
            <real>234</real>
            <key>y</key>
            <real>178</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>#</key>
        <dict>
            <key>x</key>
            <real>761</real>
            <key>y</key>
            <real>267</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>!</key>
        <dict>
            <key>x</key>
            <real>666</real>
            <key>y</key>
            <real>267</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>؟</key>
        <dict>
            <key>x</key>
            <real>571</real>
            <key>y</key>
            <real>267</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>،</key>
        <dict>
            <key>x</key>
            <real>476</real>
            <key>y</key>
            <real>267</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
        <key>۔</key>
        <dict>
            <key>x</key>
            <real>381</real>
            <key>y</key>
            <real>267</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>80</real>
        </dict>
    </dict>
</plist>
