<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Letter</key>
        <dict>
            <key>x</key>
            <real>8</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>105</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>202</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>708</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>924</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>8</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>126</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>8</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>126</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>DismissKeyboard</key>
        <dict>
            <key>x</key>
            <real>1021</real>
            <key>y</key>
            <real>344</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۰</key>
        <dict>
            <key>x</key>
            <real>1021</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۹</key>
        <dict>
            <key>x</key>
            <real>924</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۸</key>
        <dict>
            <key>x</key>
            <real>827</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۷</key>
        <dict>
            <key>x</key>
            <real>730</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۶</key>
        <dict>
            <key>x</key>
            <real>633</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۵</key>
        <dict>
            <key>x</key>
            <real>536</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۴</key>
        <dict>
            <key>x</key>
            <real>439</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۳</key>
        <dict>
            <key>x</key>
            <real>342</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۲</key>
        <dict>
            <key>x</key>
            <real>245</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۱</key>
        <dict>
            <key>x</key>
            <real>148</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ِ</key>
        <dict>
            <key>x</key>
            <real>978</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>َ</key>
        <dict>
            <key>x</key>
            <real>881</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ُ</key>
        <dict>
            <key>x</key>
            <real>784</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ّ</key>
        <dict>
            <key>x</key>
            <real>687</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ٍ</key>
        <dict>
            <key>x</key>
            <real>590</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ً</key>
        <dict>
            <key>x</key>
            <real>493</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ٖ</key>
        <dict>
            <key>x</key>
            <real>396</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ٰ</key>
        <dict>
            <key>x</key>
            <real>299</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ْ</key>
        <dict>
            <key>x</key>
            <real>202</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>ٓ</key>
        <dict>
            <key>x</key>
            <real>105</real>
            <key>y</key>
            <real>86</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>"</key>
        <dict>
            <key>x</key>
            <real>1021</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>@</key>
        <dict>
            <key>x</key>
            <real>924</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>&amp;</key>
        <dict>
            <key>x</key>
            <real>827</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
      	<key>₨</key>
        <dict>
            <key>x</key>
            <real>730</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>)</key>
        <dict>
            <key>x</key>
            <real>633</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>(</key>
        <dict>
            <key>x</key>
            <real>536</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>؛</key>
        <dict>
            <key>x</key>
            <real>439</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>:</key>
        <dict>
            <key>x</key>
            <real>342</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>/</key>
        <dict>
            <key>x</key>
            <real>245</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>-</key>
        <dict>
            <key>x</key>
            <real>148</real>
            <key>y</key>
            <real>172</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>#</key>
        <dict>
            <key>x</key>
            <real>687</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>!</key>
        <dict>
            <key>x</key>
            <real>590</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>؟</key>
        <dict>
            <key>x</key>
            <real>493</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>،</key>
        <dict>
            <key>x</key>
            <real>396</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
        <key>۔</key>
        <dict>
            <key>x</key>
            <real>299</real>
            <key>y</key>
            <real>258</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>74</real>
        </dict>
    </dict>
</plist>
