<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Letter</key>
        <dict>
            <key>x</key>
            <real>3</real>
            <key>y</key>
            <real>224</real>
            <key>width</key>
            <real>34</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>43</real>
            <key>y</key>
            <real>224</real>
            <key>width</key>
            <real>34</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>83</real>
            <key>y</key>
            <real>224</real>
            <key>width</key>
            <real>122</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>211</real>
            <key>y</key>
            <real>224</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>243</real>
            <key>y</key>
            <real>224</real>
            <key>width</key>
            <real>74</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>291</real>
            <key>y</key>
            <real>170</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>Settings</key>
        <dict>
            <key>x</key>
            <real>3</real>
            <key>y</key>
            <real>170</real>
            <key>width</key>
            <real>34</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۰</key>
        <dict>
            <key>x</key>
            <real>291</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۹</key>
        <dict>
            <key>x</key>
            <real>259</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۸</key>
        <dict>
            <key>x</key>
            <real>227</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۷</key>
        <dict>
            <key>x</key>
            <real>195</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۶</key>
        <dict>
            <key>x</key>
            <real>163</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۵</key>
        <dict>
            <key>x</key>
            <real>131</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۴</key>
        <dict>
            <key>x</key>
            <real>99</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۳</key>
        <dict>
            <key>x</key>
            <real>67</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۲</key>
        <dict>
            <key>x</key>
            <real>35</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۱</key>
        <dict>
            <key>x</key>
            <real>3</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>ِ</key>
        <dict>
            <key>x</key>
            <real>291</real>
            <key>y</key>
            <real>62</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>َ</key>
        <dict>
            <key>x</key>
            <real>259</real>
            <key>y</key>
            <real>62</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>ُ</key>
        <dict>
            <key>x</key>
            <real>227</real>
            <key>y</key>
            <real>62</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>ّ</key>
        <dict>
            <key>x</key>
            <real>195</real>
            <key>y</key>
            <real>62</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>ٍ</key>
        <dict>
            <key>x</key>
            <real>163</real>
            <key>y</key>
            <real>62</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>ً</key>
        <dict>
            <key>x</key>
            <real>131</real>
            <key>y</key>
            <real>62</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>ٖ</key>
        <dict>
            <key>x</key>
            <real>99</real>
            <key>y</key>
            <real>62</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>ٰ</key>
        <dict>
            <key>x</key>
            <real>67</real>
            <key>y</key>
            <real>62</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>ْ</key>
        <dict>
            <key>x</key>
            <real>35</real>
            <key>y</key>
            <real>62</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>ٓ</key>
        <dict>
            <key>x</key>
            <real>3</real>
            <key>y</key>
            <real>62</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>"</key>
        <dict>
            <key>x</key>
            <real>291</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>@</key>
        <dict>
            <key>x</key>
            <real>259</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>&amp;</key>
        <dict>
            <key>x</key>
            <real>227</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>₨</key>
        <dict>
            <key>x</key>
            <real>195</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>)</key>
        <dict>
            <key>x</key>
            <real>163</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>(</key>
        <dict>
            <key>x</key>
            <real>131</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>؛</key>
        <dict>
            <key>x</key>
            <real>99</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>:</key>
        <dict>
            <key>x</key>
            <real>67</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>/</key>
        <dict>
            <key>x</key>
            <real>35</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>-</key>
        <dict>
            <key>x</key>
            <real>3</real>
            <key>y</key>
            <real>116</real>
            <key>width</key>
            <real>26</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>#</key>
        <dict>
            <key>x</key>
            <real>232</real>
            <key>y</key>
            <real>170</real>
            <key>width</key>
            <real>40</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>!</key>
        <dict>
            <key>x</key>
            <real>186</real>
            <key>y</key>
            <real>170</real>
            <key>width</key>
            <real>40</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>؟</key>
        <dict>
            <key>x</key>
            <real>140</real>
            <key>y</key>
            <real>170</real>
            <key>width</key>
            <real>40</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>،</key>
        <dict>
            <key>x</key>
            <real>94</real>
            <key>y</key>
            <real>170</real>
            <key>width</key>
            <real>40</real>
            <key>height</key>
            <real>38</real>
        </dict>
        <key>۔</key>
        <dict>
            <key>x</key>
            <real>48</real>
            <key>y</key>
            <real>170</real>
            <key>width</key>
            <real>40</real>
            <key>height</key>
            <real>38</real>
        </dict>
    </dict>
</plist>
