<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<real>696</real>
		<key>y</key>
		<real>288</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
    <key>Settings</key>
    <dict>
        <key>x</key>
        <real>620</real>
        <key>y</key>
        <real>288</real>
        <key>width</key>
        <real>60</real>
        <key>height</key>
        <real>56</real>
    </dict>
    <key>Letter</key>
    <dict>
        <key>x</key>
        <real>544</real>
        <key>y</key>
        <real>288</real>
        <key>width</key>
        <real>60</real>
        <key>height</key>
        <real>56</real>
    </dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<real>164</real>
		<key>y</key>
		<real>288</real>
		<key>width</key>
		<real>364</real>
		<key>height</key>
		<real>56</real>
	</dict>
    <key>Return</key>
    <dict>
        <key>x</key>
        <real>12</real>
        <key>y</key>
        <real>288</real>
        <key>width</key>
        <real>136</real>
        <key>height</key>
        <real>56</real>
    </dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<real>12</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۰</key>
	<dict>
		<key>x</key>
		<real>696</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>56</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۹</key>
	<dict>
		<key>x</key>
		<real>620</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۸</key>
	<dict>
		<key>x</key>
		<real>544</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۷</key>
	<dict>
		<key>x</key>
		<real>468</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۶</key>
	<dict>
		<key>x</key>
		<real>392</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۵</key>
	<dict>
		<key>x</key>
		<real>316</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۴</key>
	<dict>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۳</key>
	<dict>
		<key>x</key>
		<real>164</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۲</key>
	<dict>
		<key>x</key>
		<real>88</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۱</key>
	<dict>
		<key>x</key>
		<real>12</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ِ</key>
	<dict>
		<key>x</key>
		<real>696</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>َ</key>
	<dict>
		<key>x</key>
		<real>620</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ُ</key>
	<dict>
		<key>x</key>
		<real>544</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ّ</key>
	<dict>
		<key>x</key>
		<real>468</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ٍ</key>
	<dict>
		<key>x</key>
		<real>392</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ً</key>
	<dict>
		<key>x</key>
		<real>316</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ٖ</key>
	<dict>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ٰ</key>
	<dict>
		<key>x</key>
		<real>164</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>#</key>
	<dict>
		<key>x</key>
		<real>88</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>@</key>
	<dict>
		<key>x</key>
		<real>12</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>_</key>
	<dict>
		<key>x</key>
		<real>696</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>*</key>
	<dict>
		<key>x</key>
		<real>620</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>+</key>
	<dict>
		<key>x</key>
		<real>544</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>=</key>
	<dict>
		<key>x</key>
		<real>468</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>-</key>
	<dict>
		<key>x</key>
		<real>392</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>/</key>
	<dict>
		<key>x</key>
		<real>316</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>\</key>
	<dict>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>)</key>
	<dict>
		<key>x</key>
		<real>164</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>(</key>
	<dict>
		<key>x</key>
		<real>88</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>%</key>
	<dict>
		<key>x</key>
		<real>12</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>؟</key>
	<dict>
		<key>x</key>
		<real>696</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>!</key>
	<dict>
		<key>x</key>
		<real>620</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>،</key>
	<dict>
		<key>x</key>
		<real>544</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>.</key>
	<dict>
		<key>x</key>
		<real>468</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۔</key>
	<dict>
		<key>x</key>
		<real>392</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>"</key>
	<dict>
		<key>x</key>
		<real>316</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>'</key>
	<dict>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>؛</key>
	<dict>
		<key>x</key>
		<real>164</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>:</key>
	<dict>
		<key>x</key>
		<real>88</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>60</real>
		<key>height</key>
		<real>56</real>
	</dict>
</dict>
</plist>
