<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>type</key>
		<string>KeyboardSelection</string>
		<key>label</key>
		<string>🌐</string>
	</dict>
	<key>Space</key>
	<dict>
		<key>type</key>
		<string>Space</string>
		<key>label</key>
		<string>فاصلہ</string>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>type</key>
		<string>Backspace</string>
		<key>label</key>
		<string>→</string>
	</dict>
	<key>Return</key>
	<dict>
		<key>type</key>
		<string>Return</string>
		<key>label</key>
		<string>⮑</string>
	</dict>
	<key>Number</key>
	<dict>
		<key>type</key>
		<string>SwitchToSecondaryMode</string>
		<key>label</key>
		<string>۱۲۳</string>
	</dict>
	<key>Letter</key>
	<dict>
		<key>type</key>
		<string>SwitchToPrimaryMode</string>
		<key>label</key>
		<string>اب</string>
	</dict>
	<key>Settings</key>
	<dict>
		<key>type</key>
		<string>Settings</string>
		<key>label</key>
		<string>⚙︎</string>
	</dict>
	<key>ا</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ا</string>
	</dict>
	<key>ب</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ب</string>
	</dict>
	<key>پ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>پ</string>
	</dict>
	<key>ت</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ت</string>
	</dict>
	<key>ٹ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ٹ</string>
	</dict>
	<key>ث</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ث</string>
	</dict>
	<key>ج</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ج</string>
	</dict>
	<key>چ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>چ</string>
	</dict>
	<key>ح</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ح</string>
	</dict>
	<key>خ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>خ</string>
	</dict>
	<key>د</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>د</string>
	</dict>
	<key>ڈ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ڈ</string>
	</dict>
	<key>ذ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ذ</string>
	</dict>
	<key>ر</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ر</string>
	</dict>
	<key>ڑ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ڑ</string>
	</dict>
	<key>ز</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ز</string>
	</dict>
	<key>ژ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ژ</string>
	</dict>
	<key>س</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>س</string>
	</dict>
	<key>ش</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ش</string>
	</dict>
	<key>ص</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ص</string>
	</dict>
	<key>ض</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ض</string>
	</dict>
	<key>ط</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ط</string>
	</dict>
	<key>ظ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ظ</string>
	</dict>
	<key>ع</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ع</string>
	</dict>
	<key>غ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>غ</string>
	</dict>
	<key>ف</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ف</string>
	</dict>
	<key>ق</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ق</string>
	</dict>
	<key>ک</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ک</string>
	</dict>
	<key>گ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>گ</string>
	</dict>
	<key>ل</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ل</string>
	</dict>
	<key>م</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>م</string>
	</dict>
	<key>ن</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ن</string>
	</dict>
	<key>ں</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ں</string>
	</dict>
	<key>و</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>و</string>
	</dict>
	<key>ہ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ہ</string>
	</dict>
	<key>ھ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ھ</string>
	</dict>
	<key>ء</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ء</string>
	</dict>
	<key>ی</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ی</string>
	</dict>
	<key>ے</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ے</string>
	</dict>
	<key>۰</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>۰</string>
	</dict>
	<key>۹</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>۹</string>
	</dict>
	<key>۸</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>۸</string>
	</dict>
	<key>۷</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>۷</string>
	</dict>
	<key>۶</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>۶</string>
	</dict>
	<key>۵</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>۵</string>
	</dict>
	<key>۴</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>۴</string>
	</dict>
	<key>۳</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>۳</string>
	</dict>
	<key>۲</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>۲</string>
	</dict>
	<key>۱</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>۱</string>
	</dict>
	<key>ِ</key>
	<dict>
		<key>type</key>
		<string>Diacritic</string>
		<key>label</key>
		<string>ِ</string>
	</dict>
	<key>َ</key>
	<dict>
		<key>type</key>
		<string>Diacritic</string>
		<key>label</key>
		<string>َ</string>
	</dict>
	<key>ُ</key>
	<dict>
		<key>type</key>
		<string>Diacritic</string>
		<key>label</key>
		<string>ُ</string>
	</dict>
	<key>ّ</key>
	<dict>
		<key>type</key>
		<string>Diacritic</string>
		<key>label</key>
		<string>ّ</string>
	</dict>
	<key>ٍ</key>
	<dict>
		<key>type</key>
		<string>Diacritic</string>
		<key>label</key>
		<string>ٍ</string>
	</dict>
	<key>ً</key>
	<dict>
		<key>type</key>
		<string>Diacritic</string>
		<key>label</key>
		<string>ً</string>
	</dict>
	<key>ٖ</key>
	<dict>
		<key>type</key>
		<string>Diacritic</string>
		<key>label</key>
		<string>ٖ</string>
	</dict>
	<key>ٰ</key>
	<dict>
		<key>type</key>
		<string>Diacritic</string>
		<key>label</key>
		<string>ٰ</string>
	</dict>
	<key>#</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>#</string>
	</dict>
	<key>@</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>@</string>
	</dict>
	<key>_</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>_</string>
	</dict>
	<key>*</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>*</string>
	</dict>
	<key>+</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>+</string>
	</dict>
	<key>=</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>=</string>
	</dict>
	<key>-</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>-</string>
	</dict>
	<key>/</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>/</string>
	</dict>
	<key>\</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>\</string>
	</dict>
	<key>)</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>)</string>
	</dict>
	<key>(</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>(</string>
	</dict>
	<key>%</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>%</string>
	</dict>
	<key>؟</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>؟</string>
	</dict>
	<key>!</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>!</string>
	</dict>
	<key>،</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>،</string>
	</dict>
	<key>.</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>.</string>
	</dict>
	<key>۔</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>۔</string>
	</dict>
	<key>&quot;</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>&quot;</string>
	</dict>
	<key>&apos;</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>&apos;</string>
	</dict>
	<key>؛</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>؛</string>
	</dict>
	<key>:</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>:</string>
	</dict>
</dict>
</plist>
