<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<real>514</real>
		<key>y</key>
		<real>168</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<real>116</real>
		<key>y</key>
		<real>168</real>
		<key>width</key>
		<real>251</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<real>3</real>
		<key>y</key>
		<real>128</real>
		<key>width</key>
		<real>52</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<real>3</real>
		<key>y</key>
		<real>168</real>
		<key>width</key>
		<real>108</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Number</key>
	<dict>
		<key>x</key>
		<real>372</real>
		<key>y</key>
		<real>168</real>
		<key>width</key>
		<real>81</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Settings</key>
	<dict>
		<key>x</key>
		<real>458</real>
		<key>y</key>
		<real>168</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ا</key>
	<dict>
		<key>x</key>
		<real>514</real>
		<key>y</key>
		<real>8</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ب</key>
	<dict>
		<key>x</key>
		<real>458</real>
		<key>y</key>
		<real>8</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>پ</key>
	<dict>
		<key>x</key>
		<real>401</real>
		<key>y</key>
		<real>8</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ت</key>
	<dict>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>8</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ٹ</key>
	<dict>
		<key>x</key>
		<real>287</real>
		<key>y</key>
		<real>8</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ث</key>
	<dict>
		<key>x</key>
		<real>230</real>
		<key>y</key>
		<real>8</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ج</key>
	<dict>
		<key>x</key>
		<real>173</real>
		<key>y</key>
		<real>8</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>چ</key>
	<dict>
		<key>x</key>
		<real>116</real>
		<key>y</key>
		<real>8</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ح</key>
	<dict>
		<key>x</key>
		<real>60</real>
		<key>y</key>
		<real>8</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>خ</key>
	<dict>
		<key>x</key>
		<real>3</real>
		<key>y</key>
		<real>8</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>د</key>
	<dict>
		<key>x</key>
		<real>514</real>
		<key>y</key>
		<real>48</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ڈ</key>
	<dict>
		<key>x</key>
		<real>458</real>
		<key>y</key>
		<real>48</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ذ</key>
	<dict>
		<key>x</key>
		<real>401</real>
		<key>y</key>
		<real>48</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ر</key>
	<dict>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>48</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ڑ</key>
	<dict>
		<key>x</key>
		<real>287</real>
		<key>y</key>
		<real>48</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ز</key>
	<dict>
		<key>x</key>
		<real>230</real>
		<key>y</key>
		<real>48</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ژ</key>
	<dict>
		<key>x</key>
		<real>173</real>
		<key>y</key>
		<real>48</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>س</key>
	<dict>
		<key>x</key>
		<real>116</real>
		<key>y</key>
		<real>48</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ش</key>
	<dict>
		<key>x</key>
		<real>60</real>
		<key>y</key>
		<real>48</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ص</key>
	<dict>
		<key>x</key>
		<real>3</real>
		<key>y</key>
		<real>48</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ض</key>
	<dict>
		<key>x</key>
		<real>514</real>
		<key>y</key>
		<real>88</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ط</key>
	<dict>
		<key>x</key>
		<real>458</real>
		<key>y</key>
		<real>88</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ظ</key>
	<dict>
		<key>x</key>
		<real>401</real>
		<key>y</key>
		<real>88</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ع</key>
	<dict>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>88</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>غ</key>
	<dict>
		<key>x</key>
		<real>287</real>
		<key>y</key>
		<real>88</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ف</key>
	<dict>
		<key>x</key>
		<real>230</real>
		<key>y</key>
		<real>88</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ق</key>
	<dict>
		<key>x</key>
		<real>173</real>
		<key>y</key>
		<real>88</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ک</key>
	<dict>
		<key>x</key>
		<real>116</real>
		<key>y</key>
		<real>88</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>گ</key>
	<dict>
		<key>x</key>
		<real>60</real>
		<key>y</key>
		<real>88</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ل</key>
	<dict>
		<key>x</key>
		<real>3</real>
		<key>y</key>
		<real>88</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>م</key>
	<dict>
		<key>x</key>
		<real>514</real>
		<key>y</key>
		<real>128</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ن</key>
	<dict>
		<key>x</key>
		<real>458</real>
		<key>y</key>
		<real>128</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ں</key>
	<dict>
		<key>x</key>
		<real>401</real>
		<key>y</key>
		<real>128</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>و</key>
	<dict>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>128</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ہ</key>
	<dict>
		<key>x</key>
		<real>287</real>
		<key>y</key>
		<real>128</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ھ</key>
	<dict>
		<key>x</key>
		<real>230</real>
		<key>y</key>
		<real>128</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ء</key>
	<dict>
		<key>x</key>
		<real>173</real>
		<key>y</key>
		<real>128</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ی</key>
	<dict>
		<key>x</key>
		<real>116</real>
		<key>y</key>
		<real>128</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ے</key>
	<dict>
		<key>x</key>
		<real>60</real>
		<key>y</key>
		<real>128</real>
		<key>width</key>
		<real>51</real>
		<key>height</key>
		<real>32</real>
	</dict>
</dict>
</plist>
