<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Letter</key>
        <dict>
            <key>x</key>
            <real>4</real>
            <key>y</key>
            <real>272</real>
            <key>width</key>
            <real>94</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>105</real>
            <key>y</key>
            <real>272</real>
            <key>width</key>
            <real>94</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>206</real>
            <key>y</key>
            <real>272</real>
            <key>width</key>
            <real>643</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>856</real>
            <key>y</key>
            <real>272</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>80</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>94</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>80</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>94</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>DismissKeyboard</key>
        <dict>
            <key>x</key>
            <real>926</real>
            <key>y</key>
            <real>272</real>
            <key>width</key>
            <real>94</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۰</key>
        <dict>
            <key>x</key>
            <real>811</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۹</key>
        <dict>
            <key>x</key>
            <real>741</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۸</key>
        <dict>
            <key>x</key>
            <real>671</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۷</key>
        <dict>
            <key>x</key>
            <real>601</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۶</key>
        <dict>
            <key>x</key>
            <real>531</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۵</key>
        <dict>
            <key>x</key>
            <real>461</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۴</key>
        <dict>
            <key>x</key>
            <real>391</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۳</key>
        <dict>
            <key>x</key>
            <real>321</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۲</key>
        <dict>
            <key>x</key>
            <real>251</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۱</key>
        <dict>
            <key>x</key>
            <real>181</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ِ</key>
        <dict>
            <key>x</key>
            <real>780</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>َ</key>
        <dict>
            <key>x</key>
            <real>710</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ُ</key>
        <dict>
            <key>x</key>
            <real>640</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ّ</key>
        <dict>
            <key>x</key>
            <real>570</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ٍ</key>
        <dict>
            <key>x</key>
            <real>500</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ً</key>
        <dict>
            <key>x</key>
            <real>430</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ٖ</key>
        <dict>
            <key>x</key>
            <real>360</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ٰ</key>
        <dict>
            <key>x</key>
            <real>290</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ْ</key>
        <dict>
            <key>x</key>
            <real>220</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>ٓ</key>
        <dict>
            <key>x</key>
            <real>150</real>
            <key>y</key>
            <real>68</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>"</key>
        <dict>
            <key>x</key>
            <real>811</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>@</key>
        <dict>
            <key>x</key>
            <real>741</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>&amp;</key>
        <dict>
            <key>x</key>
            <real>671</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
      	<key>₨</key>
        <dict>
            <key>x</key>
            <real>601</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>)</key>
        <dict>
            <key>x</key>
            <real>531</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>(</key>
        <dict>
            <key>x</key>
            <real>461</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>؛</key>
        <dict>
            <key>x</key>
            <real>391</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>:</key>
        <dict>
            <key>x</key>
            <real>321</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>/</key>
        <dict>
            <key>x</key>
            <real>251</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>-</key>
        <dict>
            <key>x</key>
            <real>181</real>
            <key>y</key>
            <real>136</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>#</key>
        <dict>
            <key>x</key>
            <real>570</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>!</key>
        <dict>
            <key>x</key>
            <real>500</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>؟</key>
        <dict>
            <key>x</key>
            <real>430</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>،</key>
        <dict>
            <key>x</key>
            <real>360</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
        <key>۔</key>
        <dict>
            <key>x</key>
            <real>290</real>
            <key>y</key>
            <real>204</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>61</real>
        </dict>
    </dict>
</plist>
