<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Letter</key>
        <dict>
            <key>x</key>
            <real>72</real>
            <key>y</key>
            <real>168</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>141</real>
            <key>y</key>
            <real>168</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>210</real>
            <key>y</key>
            <real>168</real>
            <key>width</key>
            <real>194</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>410</real>
            <key>y</key>
            <real>168</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>463</real>
            <key>y</key>
            <real>168</real>
            <key>width</key>
            <real>133</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>549</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Settings</key>
        <dict>
            <key>x</key>
            <real>72</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۰</key>
        <dict>
            <key>x</key>
            <real>549</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۹</key>
        <dict>
            <key>x</key>
            <real>496</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۸</key>
        <dict>
            <key>x</key>
            <real>443</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۷</key>
        <dict>
            <key>x</key>
            <real>390</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۶</key>
        <dict>
            <key>x</key>
            <real>337</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۵</key>
        <dict>
            <key>x</key>
            <real>284</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۴</key>
        <dict>
            <key>x</key>
            <real>231</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۳</key>
        <dict>
            <key>x</key>
            <real>178</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۲</key>
        <dict>
            <key>x</key>
            <real>125</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۱</key>
        <dict>
            <key>x</key>
            <real>72</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ِ</key>
        <dict>
            <key>x</key>
            <real>549</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>َ</key>
        <dict>
            <key>x</key>
            <real>496</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ُ</key>
        <dict>
            <key>x</key>
            <real>443</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ّ</key>
        <dict>
            <key>x</key>
            <real>390</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٍ</key>
        <dict>
            <key>x</key>
            <real>337</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ً</key>
        <dict>
            <key>x</key>
            <real>284</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٖ</key>
        <dict>
            <key>x</key>
            <real>231</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٰ</key>
        <dict>
            <key>x</key>
            <real>178</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ْ</key>
        <dict>
            <key>x</key>
            <real>125</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٓ</key>
        <dict>
            <key>x</key>
            <real>72</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>"</key>
        <dict>
            <key>x</key>
            <real>549</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>@</key>
        <dict>
            <key>x</key>
            <real>496</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>&amp;</key>
        <dict>
            <key>x</key>
            <real>443</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>₨</key>
        <dict>
            <key>x</key>
            <real>390</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>)</key>
        <dict>
            <key>x</key>
            <real>337</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>(</key>
        <dict>
            <key>x</key>
            <real>284</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>؛</key>
        <dict>
            <key>x</key>
            <real>231</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>:</key>
        <dict>
            <key>x</key>
            <real>178</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>/</key>
        <dict>
            <key>x</key>
            <real>125</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>-</key>
        <dict>
            <key>x</key>
            <real>72</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>47</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>#</key>
        <dict>
            <key>x</key>
            <real>440</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>!</key>
        <dict>
            <key>x</key>
            <real>371</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>؟</key>
        <dict>
            <key>x</key>
            <real>302</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>،</key>
        <dict>
            <key>x</key>
            <real>233</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۔</key>
        <dict>
            <key>x</key>
            <real>164</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>63</real>
            <key>height</key>
            <real>32</real>
        </dict>
    </dict>
</plist>
