<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<real>955</real>
		<key>y</key>
		<real>376</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>Settings</key>
	<dict>
		<key>x</key>
		<real>857</real>
		<key>y</key>
		<real>376</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>Letter</key>
	<dict>
		<key>x</key>
		<real>759</real>
		<key>y</key>
		<real>376</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<real>269</real>
		<key>y</key>
		<real>376</real>
		<key>width</key>
		<real>476</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<real>73</real>
		<key>y</key>
		<real>376</real>
		<key>width</key>
		<real>180</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<real>73</real>
		<key>y</key>
		<real>286</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۰</key>
	<dict>
		<key>x</key>
		<real>955</real>
		<key>y</key>
		<real>16</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۹</key>
	<dict>
		<key>x</key>
		<real>857</real>
		<key>y</key>
		<real>16</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۸</key>
	<dict>
		<key>x</key>
		<real>759</real>
		<key>y</key>
		<real>16</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۷</key>
	<dict>
		<key>x</key>
		<real>661</real>
		<key>y</key>
		<real>16</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۶</key>
	<dict>
		<key>x</key>
		<real>563</real>
		<key>y</key>
		<real>16</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۵</key>
	<dict>
		<key>x</key>
		<real>465</real>
		<key>y</key>
		<real>16</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۴</key>
	<dict>
		<key>x</key>
		<real>367</real>
		<key>y</key>
		<real>16</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۳</key>
	<dict>
		<key>x</key>
		<real>269</real>
		<key>y</key>
		<real>16</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۲</key>
	<dict>
		<key>x</key>
		<real>171</real>
		<key>y</key>
		<real>16</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۱</key>
	<dict>
		<key>x</key>
		<real>73</real>
		<key>y</key>
		<real>16</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>ِ</key>
	<dict>
		<key>x</key>
		<real>955</real>
		<key>y</key>
		<real>106</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>َ</key>
	<dict>
		<key>x</key>
		<real>857</real>
		<key>y</key>
		<real>106</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>ُ</key>
	<dict>
		<key>x</key>
		<real>759</real>
		<key>y</key>
		<real>106</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>ّ</key>
	<dict>
		<key>x</key>
		<real>661</real>
		<key>y</key>
		<real>106</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>ٍ</key>
	<dict>
		<key>x</key>
		<real>563</real>
		<key>y</key>
		<real>106</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>ً</key>
	<dict>
		<key>x</key>
		<real>465</real>
		<key>y</key>
		<real>106</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>ٖ</key>
	<dict>
		<key>x</key>
		<real>367</real>
		<key>y</key>
		<real>106</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>ٰ</key>
	<dict>
		<key>x</key>
		<real>269</real>
		<key>y</key>
		<real>106</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>#</key>
	<dict>
		<key>x</key>
		<real>171</real>
		<key>y</key>
		<real>106</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>@</key>
	<dict>
		<key>x</key>
		<real>73</real>
		<key>y</key>
		<real>106</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>_</key>
	<dict>
		<key>x</key>
		<real>955</real>
		<key>y</key>
		<real>196</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>*</key>
	<dict>
		<key>x</key>
		<real>857</real>
		<key>y</key>
		<real>196</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>+</key>
	<dict>
		<key>x</key>
		<real>759</real>
		<key>y</key>
		<real>196</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>=</key>
	<dict>
		<key>x</key>
		<real>661</real>
		<key>y</key>
		<real>196</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>-</key>
	<dict>
		<key>x</key>
		<real>563</real>
		<key>y</key>
		<real>196</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>/</key>
	<dict>
		<key>x</key>
		<real>465</real>
		<key>y</key>
		<real>196</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>\</key>
	<dict>
		<key>x</key>
		<real>367</real>
		<key>y</key>
		<real>196</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>)</key>
	<dict>
		<key>x</key>
		<real>269</real>
		<key>y</key>
		<real>196</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>(</key>
	<dict>
		<key>x</key>
		<real>171</real>
		<key>y</key>
		<real>196</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>%</key>
	<dict>
		<key>x</key>
		<real>73</real>
		<key>y</key>
		<real>196</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>؟</key>
	<dict>
		<key>x</key>
		<real>955</real>
		<key>y</key>
		<real>286</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>!</key>
	<dict>
		<key>x</key>
		<real>857</real>
		<key>y</key>
		<real>286</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>،</key>
	<dict>
		<key>x</key>
		<real>759</real>
		<key>y</key>
		<real>286</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>.</key>
	<dict>
		<key>x</key>
		<real>661</real>
		<key>y</key>
		<real>286</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>۔</key>
	<dict>
		<key>x</key>
		<real>563</real>
		<key>y</key>
		<real>286</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>"</key>
	<dict>
		<key>x</key>
		<real>465</real>
		<key>y</key>
		<real>286</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>'</key>
	<dict>
		<key>x</key>
		<real>367</real>
		<key>y</key>
		<real>286</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>؛</key>
	<dict>
		<key>x</key>
		<real>269</real>
		<key>y</key>
		<real>286</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
	<key>:</key>
	<dict>
		<key>x</key>
		<real>171</real>
		<key>y</key>
		<real>286</real>
		<key>width</key>
		<real>82</real>
		<key>height</key>
		<real>74</real>
	</dict>
</dict>
</plist>
