<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<real>1081</real>
		<key>y</key>
		<real>392</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>Settings</key>
	<dict>
		<key>x</key>
		<real>983</real>
		<key>y</key>
		<real>392</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>Letter</key>
	<dict>
		<key>x</key>
		<real>885</real>
		<key>y</key>
		<real>392</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<real>395</real>
		<key>y</key>
		<real>392</real>
		<key>width</key>
		<real>476</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<real>199</real>
		<key>y</key>
		<real>392</real>
		<key>width</key>
		<real>180</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<real>199</real>
		<key>y</key>
		<real>300</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۰</key>
	<dict>
		<key>x</key>
		<real>1081</real>
		<key>y</key>
		<real>24</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۹</key>
	<dict>
		<key>x</key>
		<real>983</real>
		<key>y</key>
		<real>24</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۸</key>
	<dict>
		<key>x</key>
		<real>885</real>
		<key>y</key>
		<real>24</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۷</key>
	<dict>
		<key>x</key>
		<real>787</real>
		<key>y</key>
		<real>24</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۶</key>
	<dict>
		<key>x</key>
		<real>689</real>
		<key>y</key>
		<real>24</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۵</key>
	<dict>
		<key>x</key>
		<real>591</real>
		<key>y</key>
		<real>24</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۴</key>
	<dict>
		<key>x</key>
		<real>493</real>
		<key>y</key>
		<real>24</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۳</key>
	<dict>
		<key>x</key>
		<real>395</real>
		<key>y</key>
		<real>24</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۲</key>
	<dict>
		<key>x</key>
		<real>297</real>
		<key>y</key>
		<real>24</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۱</key>
	<dict>
		<key>x</key>
		<real>199</real>
		<key>y</key>
		<real>24</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>ِ</key>
	<dict>
		<key>x</key>
		<real>1081</real>
		<key>y</key>
		<real>116</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>َ</key>
	<dict>
		<key>x</key>
		<real>983</real>
		<key>y</key>
		<real>116</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>ُ</key>
	<dict>
		<key>x</key>
		<real>885</real>
		<key>y</key>
		<real>116</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>ّ</key>
	<dict>
		<key>x</key>
		<real>787</real>
		<key>y</key>
		<real>116</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>ٍ</key>
	<dict>
		<key>x</key>
		<real>689</real>
		<key>y</key>
		<real>116</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>ً</key>
	<dict>
		<key>x</key>
		<real>591</real>
		<key>y</key>
		<real>116</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>ٖ</key>
	<dict>
		<key>x</key>
		<real>493</real>
		<key>y</key>
		<real>116</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>ٰ</key>
	<dict>
		<key>x</key>
		<real>395</real>
		<key>y</key>
		<real>116</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>#</key>
	<dict>
		<key>x</key>
		<real>297</real>
		<key>y</key>
		<real>116</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>@</key>
	<dict>
		<key>x</key>
		<real>199</real>
		<key>y</key>
		<real>116</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>_</key>
	<dict>
		<key>x</key>
		<real>1081</real>
		<key>y</key>
		<real>208</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>*</key>
	<dict>
		<key>x</key>
		<real>983</real>
		<key>y</key>
		<real>208</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>+</key>
	<dict>
		<key>x</key>
		<real>885</real>
		<key>y</key>
		<real>208</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>=</key>
	<dict>
		<key>x</key>
		<real>787</real>
		<key>y</key>
		<real>208</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>-</key>
	<dict>
		<key>x</key>
		<real>689</real>
		<key>y</key>
		<real>208</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>/</key>
	<dict>
		<key>x</key>
		<real>591</real>
		<key>y</key>
		<real>208</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>\</key>
	<dict>
		<key>x</key>
		<real>493</real>
		<key>y</key>
		<real>208</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>)</key>
	<dict>
		<key>x</key>
		<real>395</real>
		<key>y</key>
		<real>208</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>(</key>
	<dict>
		<key>x</key>
		<real>297</real>
		<key>y</key>
		<real>208</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>%</key>
	<dict>
		<key>x</key>
		<real>199</real>
		<key>y</key>
		<real>208</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>؟</key>
	<dict>
		<key>x</key>
		<real>1081</real>
		<key>y</key>
		<real>300</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>!</key>
	<dict>
		<key>x</key>
		<real>983</real>
		<key>y</key>
		<real>300</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>،</key>
	<dict>
		<key>x</key>
		<real>885</real>
		<key>y</key>
		<real>300</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>.</key>
	<dict>
		<key>x</key>
		<real>787</real>
		<key>y</key>
		<real>300</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>۔</key>
	<dict>
		<key>x</key>
		<real>689</real>
		<key>y</key>
		<real>300</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>"</key>
	<dict>
		<key>x</key>
		<real>591</real>
		<key>y</key>
		<real>300</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>'</key>
	<dict>
		<key>x</key>
		<real>493</real>
		<key>y</key>
		<real>300</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>؛</key>
	<dict>
		<key>x</key>
		<real>395</real>
		<key>y</key>
		<real>300</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
	<key>:</key>
	<dict>
		<key>x</key>
		<real>297</real>
		<key>y</key>
		<real>300</real>
		<key>width</key>
		<real>86</real>
		<key>height</key>
		<real>80</real>
	</dict>
</dict>
</plist>
