<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Letter</key>
        <dict>
            <key>x</key>
            <real>6</real>
            <key>y</key>
            <real>256</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>KeyboardSelection</key>
        <dict>
            <key>x</key>
            <real>73</real>
            <key>y</key>
            <real>256</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>140</real>
            <key>y</key>
            <real>256</real>
            <key>width</key>
            <real>488</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ZeroWidthNonJoiner</key>
        <dict>
            <key>x</key>
            <real>640</real>
            <key>y</key>
            <real>256</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>6</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>6</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>86</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>DismissKeyboard</key>
        <dict>
            <key>x</key>
            <real>707</real>
            <key>y</key>
            <real>256</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۰</key>
        <dict>
            <key>x</key>
            <real>707</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۹</key>
        <dict>
            <key>x</key>
            <real>640</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۸</key>
        <dict>
            <key>x</key>
            <real>573</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۷</key>
        <dict>
            <key>x</key>
            <real>506</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۶</key>
        <dict>
            <key>x</key>
            <real>439</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۵</key>
        <dict>
            <key>x</key>
            <real>372</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۴</key>
        <dict>
            <key>x</key>
            <real>305</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۳</key>
        <dict>
            <key>x</key>
            <real>238</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۲</key>
        <dict>
            <key>x</key>
            <real>171</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۱</key>
        <dict>
            <key>x</key>
            <real>104</real>
            <key>y</key>
            <real>0</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ِ</key>
        <dict>
            <key>x</key>
            <real>676</real>
            <key>y</key>
            <real>64</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>َ</key>
        <dict>
            <key>x</key>
            <real>609</real>
            <key>y</key>
            <real>64</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ُ</key>
        <dict>
            <key>x</key>
            <real>542</real>
            <key>y</key>
            <real>64</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ّ</key>
        <dict>
            <key>x</key>
            <real>475</real>
            <key>y</key>
            <real>64</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ٍ</key>
        <dict>
            <key>x</key>
            <real>408</real>
            <key>y</key>
            <real>64</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ً</key>
        <dict>
            <key>x</key>
            <real>341</real>
            <key>y</key>
            <real>64</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ٖ</key>
        <dict>
            <key>x</key>
            <real>274</real>
            <key>y</key>
            <real>64</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ٰ</key>
        <dict>
            <key>x</key>
            <real>207</real>
            <key>y</key>
            <real>64</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ْ</key>
        <dict>
            <key>x</key>
            <real>140</real>
            <key>y</key>
            <real>64</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>ٓ</key>
        <dict>
            <key>x</key>
            <real>73</real>
            <key>y</key>
            <real>64</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>"</key>
        <dict>
            <key>x</key>
            <real>707</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>@</key>
        <dict>
            <key>x</key>
            <real>640</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>&amp;</key>
        <dict>
            <key>x</key>
            <real>573</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
      	<key>₨</key>
        <dict>
            <key>x</key>
            <real>506</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>)</key>
        <dict>
            <key>x</key>
            <real>439</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>(</key>
        <dict>
            <key>x</key>
            <real>372</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>؛</key>
        <dict>
            <key>x</key>
            <real>305</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>:</key>
        <dict>
            <key>x</key>
            <real>238</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>/</key>
        <dict>
            <key>x</key>
            <real>171</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>-</key>
        <dict>
            <key>x</key>
            <real>104</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>#</key>
        <dict>
            <key>x</key>
            <real>475</real>
            <key>y</key>
            <real>192</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>!</key>
        <dict>
            <key>x</key>
            <real>408</real>
            <key>y</key>
            <real>192</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>؟</key>
        <dict>
            <key>x</key>
            <real>341</real>
            <key>y</key>
            <real>192</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>،</key>
        <dict>
            <key>x</key>
            <real>274</real>
            <key>y</key>
            <real>192</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
        <key>۔</key>
        <dict>
            <key>x</key>
            <real>207</real>
            <key>y</key>
            <real>192</real>
            <key>width</key>
            <real>55</real>
            <key>height</key>
            <real>55</real>
        </dict>
    </dict>
</plist>
