<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Space</key>
        <dict>
            <key>x</key>
            <real>156</real>
            <key>y</key>
            <real>168</real>
            <key>width</key>
            <real>319</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Backspace</key>
        <dict>
            <key>x</key>
            <real>38</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Return</key>
        <dict>
            <key>x</key>
            <real>38</real>
            <key>y</key>
            <real>168</real>
            <key>width</key>
            <real>112</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Letter</key>
        <dict>
            <key>x</key>
            <real>481</real>
            <key>y</key>
            <real>168</real>
            <key>width</key>
            <real>83</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>Settings</key>
        <dict>
            <key>x</key>
            <real>569</real>
            <key>y</key>
            <real>168</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۰</key>
        <dict>
            <key>x</key>
            <real>569</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۹</key>
        <dict>
            <key>x</key>
            <real>510</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۸</key>
        <dict>
            <key>x</key>
            <real>451</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۷</key>
        <dict>
            <key>x</key>
            <real>392</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۶</key>
        <dict>
            <key>x</key>
            <real>333</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۵</key>
        <dict>
            <key>x</key>
            <real>274</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۴</key>
        <dict>
            <key>x</key>
            <real>215</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۳</key>
        <dict>
            <key>x</key>
            <real>156</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۲</key>
        <dict>
            <key>x</key>
            <real>97</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۱</key>
        <dict>
            <key>x</key>
            <real>38</real>
            <key>y</key>
            <real>8</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ِ</key>
        <dict>
            <key>x</key>
            <real>569</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>َ</key>
        <dict>
            <key>x</key>
            <real>510</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ُ</key>
        <dict>
            <key>x</key>
            <real>451</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ّ</key>
        <dict>
            <key>x</key>
            <real>392</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٍ</key>
        <dict>
            <key>x</key>
            <real>333</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ً</key>
        <dict>
            <key>x</key>
            <real>274</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٖ</key>
        <dict>
            <key>x</key>
            <real>215</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>ٰ</key>
        <dict>
            <key>x</key>
            <real>156</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>#</key>
        <dict>
            <key>x</key>
            <real>97</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>@</key>
        <dict>
            <key>x</key>
            <real>38</real>
            <key>y</key>
            <real>48</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>_</key>
        <dict>
            <key>x</key>
            <real>569</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>*</key>
        <dict>
            <key>x</key>
            <real>510</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>+</key>
        <dict>
            <key>x</key>
            <real>451</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>=</key>
        <dict>
            <key>x</key>
            <real>392</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>-</key>
        <dict>
            <key>x</key>
            <real>333</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>/</key>
        <dict>
            <key>x</key>
            <real>274</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>\</key>
        <dict>
            <key>x</key>
            <real>215</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>)</key>
        <dict>
            <key>x</key>
            <real>156</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>(</key>
        <dict>
            <key>x</key>
            <real>97</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>%</key>
        <dict>
            <key>x</key>
            <real>38</real>
            <key>y</key>
            <real>88</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>؟</key>
        <dict>
            <key>x</key>
            <real>569</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>!</key>
        <dict>
            <key>x</key>
            <real>510</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>،</key>
        <dict>
            <key>x</key>
            <real>451</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>.</key>
        <dict>
            <key>x</key>
            <real>392</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>۔</key>
        <dict>
            <key>x</key>
            <real>333</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>"</key>
        <dict>
            <key>x</key>
            <real>274</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>'</key>
        <dict>
            <key>x</key>
            <real>215</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>؛</key>
        <dict>
            <key>x</key>
            <real>156</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
        <key>:</key>
        <dict>
            <key>x</key>
            <real>97</real>
            <key>y</key>
            <real>128</real>
            <key>width</key>
            <real>53</real>
            <key>height</key>
            <real>32</real>
        </dict>
    </dict>
</plist>
