<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<real>719</real>
		<key>y</key>
		<real>284</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>Settings</key>
	<dict>
		<key>x</key>
		<real>645</real>
		<key>y</key>
		<real>284</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>Letter</key>
	<dict>
		<key>x</key>
		<real>571</real>
		<key>y</key>
		<real>284</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<real>201</real>
		<key>y</key>
		<real>284</real>
		<key>width</key>
		<real>364</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<real>53</real>
		<key>y</key>
		<real>284</real>
		<key>width</key>
		<real>136</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<real>53</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۰</key>
	<dict>
		<key>x</key>
		<real>719</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<integer>62</integer>
		<key>height</key>
		<integer>56</integer>
	</dict>
	<key>۹</key>
	<dict>
		<key>x</key>
		<real>645</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۸</key>
	<dict>
		<key>x</key>
		<real>571</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۷</key>
	<dict>
		<key>x</key>
		<real>497</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۶</key>
	<dict>
		<key>x</key>
		<real>423</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۵</key>
	<dict>
		<key>x</key>
		<real>349</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۴</key>
	<dict>
		<key>x</key>
		<real>275</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۳</key>
	<dict>
		<key>x</key>
		<real>201</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۲</key>
	<dict>
		<key>x</key>
		<real>127</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۱</key>
	<dict>
		<key>x</key>
		<real>53</real>
		<key>y</key>
		<real>12</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ِ</key>
	<dict>
		<key>x</key>
		<real>719</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>َ</key>
	<dict>
		<key>x</key>
		<real>645</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ُ</key>
	<dict>
		<key>x</key>
		<real>571</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ّ</key>
	<dict>
		<key>x</key>
		<real>497</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ٍ</key>
	<dict>
		<key>x</key>
		<real>423</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ً</key>
	<dict>
		<key>x</key>
		<real>349</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ٖ</key>
	<dict>
		<key>x</key>
		<real>275</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>ٰ</key>
	<dict>
		<key>x</key>
		<real>201</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>#</key>
	<dict>
		<key>x</key>
		<real>127</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>@</key>
	<dict>
		<key>x</key>
		<real>53</real>
		<key>y</key>
		<real>80</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>_</key>
	<dict>
		<key>x</key>
		<real>719</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>*</key>
	<dict>
		<key>x</key>
		<real>645</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>+</key>
	<dict>
		<key>x</key>
		<real>571</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>=</key>
	<dict>
		<key>x</key>
		<real>497</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>-</key>
	<dict>
		<key>x</key>
		<real>423</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>/</key>
	<dict>
		<key>x</key>
		<real>349</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>\</key>
	<dict>
		<key>x</key>
		<real>275</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>)</key>
	<dict>
		<key>x</key>
		<real>201</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>(</key>
	<dict>
		<key>x</key>
		<real>127</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>%</key>
	<dict>
		<key>x</key>
		<real>53</real>
		<key>y</key>
		<real>148</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>؟</key>
	<dict>
		<key>x</key>
		<real>719</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>!</key>
	<dict>
		<key>x</key>
		<real>645</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>،</key>
	<dict>
		<key>x</key>
		<real>571</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>.</key>
	<dict>
		<key>x</key>
		<real>497</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>۔</key>
	<dict>
		<key>x</key>
		<real>423</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>"</key>
	<dict>
		<key>x</key>
		<real>349</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>'</key>
	<dict>
		<key>x</key>
		<real>275</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>؛</key>
	<dict>
		<key>x</key>
		<real>201</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
	<key>:</key>
	<dict>
		<key>x</key>
		<real>127</real>
		<key>y</key>
		<real>216</real>
		<key>width</key>
		<real>62</real>
		<key>height</key>
		<real>56</real>
	</dict>
</dict>
</plist>
