<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primary-height</key>
	<real>285</real>
	<key>pop-up-height-hang</key>
	<real>67</real>
	<key>suggestions</key>
	<dict>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
		<key>width</key>
		<real>414</real>
		<key>height</key>
		<real>58</real>
		<key>margin-top</key>
		<real>11</real>
		<key>margin-side</key>
		<real>5</real>
	</dict>
</dict>
</plist>
