<dict>
    <key>KeyboardSelection</key>
    <dict>
        <key>label</key>
        <string>🌐</string>
        <key>type</key>
        <string>KeyboardSelection</string>
    </dict>
    <key>Number</key>
    <dict>
        <key>label</key>
        <string>۱۲۳</string>
        <key>type</key>
        <string>Number</string>
    </dict>
    <key>Space</key>
    <dict>
        <key>label</key>
        <string>فاصلہ</string>
        <key>type</key>
        <string>Space</string>
    </dict>
    <key>Return</key>
    <dict>
        <key>label</key>
        <string>⮑</string>
        <key>type</key>
        <string>Return</string>
    </dict>
    <key>Settings</key>
    <dict>
        <key>label</key>
        <string>⚙</string>
        <key>type</key>
        <string>Settings</string>
    </dict>
    <key>Backspace</key>
    <dict>
        <key>label</key>
        <string>→</string>
        <key>type</key>
        <string>Backspace</string>
    </dict>
    <key>ا</key>
    <dict>
        <key>label</key>
        <string>ا</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ٮ</key>
    <dict>
        <key>label</key>
        <string>ٮ</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ح</key>
    <dict>
        <key>label</key>
        <string>ح</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>د</key>
    <dict>
        <key>label</key>
        <string>د</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ر</key>
    <dict>
        <key>label</key>
        <string>ر</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>س</key>
    <dict>
        <key>label</key>
        <string>س</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ص</key>
    <dict>
        <key>label</key>
        <string>ص</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ط</key>
    <dict>
        <key>label</key>
        <string>ط</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ع</key>
    <dict>
        <key>label</key>
        <string>ع</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ڡ</key>
    <dict>
        <key>label</key>
        <string>ڡ</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ٯ</key>
    <dict>
        <key>label</key>
        <string>ٯ</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ک</key>
    <dict>
        <key>label</key>
        <string>ک</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ل</key>
    <dict>
        <key>label</key>
        <string>ل</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>م</key>
    <dict>
        <key>label</key>
        <string>م</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ں</key>
    <dict>
        <key>label</key>
        <string>ں</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>و</key>
    <dict>
        <key>label</key>
        <string>و</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ہ</key>
    <dict>
        <key>label</key>
        <string>ہ</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ھ</key>
    <dict>
        <key>label</key>
        <string>ھ</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ء</key>
    <dict>
        <key>label</key>
        <string>ء</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ی</key>
    <dict>
        <key>label</key>
        <string>ی</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
    <key>ے</key>
    <dict>
        <key>label</key>
        <string>ے</string>
        <key>type</key>
        <string>Letter</string>
    </dict>
</dict>
